/* Colors */
html {
  color-scheme: light dark;

  &.light {
    /* forces light color-scheme */
    color-scheme: light;
  }
  &.dark {
    /* forces dark color-scheme */
    color-scheme: dark;
  }
}

/* Typographie */

// base //
body {
  font-size: 1em;
  line-height: 1.5;
  font-family: var(--font-sans-serif);
}

// titres //
h1 {
  font-size: 3em;
  line-height: 1.2;
}
h2 {
  font-size: 4em;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.75em;
  line-height: 1.33;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.3125em;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}
h5 {
  font-size: 1.125em;
  margin-top: 1.5em;
}
h6 {
  font-size: 1em;
  margin-bottom: 0;
}
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

// liens
a {
  color: var(--link-color);
  text-decoration: none;
  transition: 0.3s;
  &:link,
  &:visited {
    border-bottom: 1px solid var(--link-border-bottom-color);
  }
  &:visited {
    border-bottom-style: dotted;
  }
  &:hover,
  &:active {
    border-color: var(--link-border-color);
  }
  &:focus {
    color: var(--link-focus-color);
    background-color: var(--link-focus-background-color);
  }
}

// autres balises
hr {
  border: 0;
  height: 1px;
  background: var(--hr-background-color);
  background-size: 100%;
  background-image: linear-gradient(to right, var(--hr-gradient-end), var(--hr-gradient-middle), var(--hr-gradient-end));
  clear: both;
  display: block;
}
blockquote,
q {
  font-family: var(--font-serif);
  color: var(--quote-color);
  font-style: italic;
}
blockquote em {
  font-style: normal;
}
blockquote {
  font-size: 1.125em;
  line-height: 1.5;
  quotes: '\201C' '\201D';
  margin-top: 1.75em;
}
blockquote:before,
blockquote:after {
  margin-top: 0;
  font-size: 3em;
  display: block;
  line-height: 0.25;
  color: var(--quote-color);
  margin-bottom: 0;
}
blockquote:before {
  content: open-quote;
  float: left;
  margin-right: 0.25em;
}
blockquote:after {
  content: close-quote;
  text-align: right;
}
blockquote p:first-child {
  margin-top: 0;
}
kbd {
  padding: 0.1em 0.5em;
}
code,
pre,
kbd {
  color: var(--code-color);
  background-color: var(--code-background-color);
  font-family: var(--font-monospace);
  font-size: 0.875em;
  padding: 0.1em 0.2em;
}
pre {
  padding: 0.5em 1em;
}
img {
  display: block;
  max-width: 100%;
  max-height: 90vh;
  height: auto;
  width: auto;
}
p,
ul,
ol {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0.5em;
}
