body {
    background: $white;
    color: $primary-color;
}
#main {
    background-color: $white;
    padding: 0 0 2em;
}
#page {
    max-width: $large-screen;
    margin: 0 auto;
    padding: 0;
}
#footer {
    position: fixed;
    bottom: 1.875em;
    left: 1.875em;
    max-width: 12.5em;
}
.header {
    background: $black;
    position: relative;
    padding: 1em 0 3em;
    }
@media all and(max-width: $small-screen) {
    #main {
        padding: .5em;
    }
}
@media screen and(max-width: ($large-screen + 25em)) {
    #footer {
        position: static;
        width: 100%;
        padding: 1em .5em 0;
    }
}
@media screen and(min-width: ($xlarge-screen + .1em)) and(max-width: 110em) {
    #page {
        max-width: $large-screen;
    }
}
@media screen and(min-width: 110.1em) {
    body {
        font-size: 1.125em;
    }
    #blognav, #blogextra {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
}
