@font-face {
  font-family: 'raleway';
  src: url(index.php?tf=font/raleway-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url(index.php?tf=font/NotoSerif-Bold-webfont.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'noto_serif';
  src: url(index.php?tf=font/NotoSerif-BoldItalic-webfont.woff) format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'noto_serif';
  src: url(index.php?tf=font/NotoSerif-Italic-webfont.woff) format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'noto_serif';
  src: url(index.php?tf=font/NotoSerif-Regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-sans-serif:
    'raleway', Lato, 'Open Sans', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-serif: 'noto_serif', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
  --font-monospace: 'Andale Mono', AndaleMono, monospace;
}
